.h1{
    background-color: transparent;
    margin: ;
}
body{
  background: linear-gradient(to top, #34cfd4 49%,#66ffff 60%, #80ffff 80%, #99ffff 100%);
    height: 100vh;
    margin: 0;
}

#halfbg{
        height: 70%;
        width: 100%;
        transform: translateY(0);
        background-image: url('1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0;
        animation: animate 2s 0s;
    }
    @keyframes animate {
        from{
            transform: translateY(-200%);
            background: none;
        }
        to{
            transform: translateY(0);
            background-image: url('1.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0;
        }

}

.top-right {
    font-family:arial black;
    text-shadow: black;
    position: absolute;
    top: 30px;
    right: 20px;
  }

.butall{
    position: absolute;
    top: 35%;
    left: auto;

}

.button , .but{
   background: linear-gradient(to top, #34cfd4 47%,#66ffff 60%, #80ffff 80%, #99ffff 100%);
    padding: 15px;
    margin: 500px;
    font-size: 20px;
    font-family: arial black;
    border-radius: 15px;
    border-color: #63A2D8;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
}
.but{
  position: absolute;
  top: 123.5%;
  left: 2%;
}

.button:hover, .but:hover {
    background: linear-gradient(to bottom, #34cfd4 47%,#66ffff 60%, #80ffff 80%, #99ffff 100%);
    color: #ffe3ff;
    box-shadow: 0 12px 16px 0 rgba(19, 90, 141, 0.832), 0 17px 50px 0 rgba(19, 90, 141, 0.832);
}

.button span,.but span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after,.but span:after {
    content: '神';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }
  
  .button:hover span,.but:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after,.but:hover span:after {
    opacity: 1;
    right: 0;
  }


  .container {
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 15%;
    overflow: hidden;
    border-radius:50%;

}
.logos{
    width: 200px;
    height: 200px; 
    object-fit: cover;
    display: flex;
    border-radius:50%;
    animation: slide 15s infinite;
}

@keyframes slide{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-130%);
  }
  50%{
    transform: translateX(-100%);
  }
  55%{
    transform: translateX(-230%);
  }
  75%{
    transform: translateX(-200%);
  }
  80%{
    transform: translateX(-330%);
  }
  90%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(0);
  }


}

.videocontent{
  position: absolute;
  top:47%;
  left: 39%;
}

.conted{
  width: 100%;
  height: 50vh;
  background: linear-gradient(to bottom, #34cfd4 80%, #80ffff 90%, #99ffff 100%);
  align-items: center;
  justify-content: center;

}

.popup{
  position: absolute;
  width: 700px;
  background: transparent;
  border-radius: 6px;
  top: 0;
  left: 50%;
  align-items: center;
  transform: translate(-50%,-50%) scale(0.1);
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s,top 0.4s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-5%) scale(1)
}

.popup img{
  width: 700px;
  border-radius: 5%;
}

.popup button{
  margin-left: 40%;
  margin-top: 0.25px;
  padding: 20px;
  background: linear-gradient(to top, #34cfd4 40%,#66ffff 60%, #80ffff 80%, #99ffff 100%);
  color: black;
  font-size: 22px;
  border: 2px solid bule;
  outline: 0;
  border-radius: 20%;
  cursor: pointer;
}

.popup button:hover{
  background: linear-gradient(to bottom, #34cfd4 40%,#66ffff 60%, #80ffff 80%, #99ffff 100%);
  color: white;
}

.foot{
  width: 100%;
  height: 20vh;
  padding: auto;
  outline: none;
  text-align: center;
  background: transparent;
}

.foot p{
  font-size: 20px;
  border: 6px solid rgb(55, 53, 53);
  background: linear-gradient(to bottom right, #003366 0%, #66ffff 100%);
  color:#ff0000 ;
}


